* {
    box-sizing: border-box;
}

:root {
    --primary-color: #212832;
    --secondary-color: #7264d6;
    --text-color: #696d76;
}

body {
    /* font-family: "Inter", sans-serif; */
    font-family: "Open Sans", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}
/* Custom  scrollbar*/
::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.2);
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
/* Loại bỏ giao diện khi sử dụng tính năng "tự động điền" của trình duyệt */
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:hover {
    transition: background-color 1s 9999s;
    -webkit-text-fill-color: var(--primary-color);
    caret-color: var(--primary-color);
}

/* ==========================================Common================================================ */
a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

a,
button,
input,
textarea,
select {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    -webkit-tap-highlight-color: transparent;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 58px;

    display: inline-flex;
    min-width: 149px;
    height: var(--height);
    line-height: var(--height);
    color: #fff;
    font-weight: 600;
    line-height: 1.75rem;
    border-radius: 6px;
    background: var(--primary-color);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: background 0.2s;
}

.btn:hover {
    background: var(--secondary-color);
}

.sub-title {
    position: relative;
    display: inline-block;
    padding-left: 30px;
    color: var(--text-color);
    line-height: 1.75rem;
}

.sub-title::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    width: 18px;
    height: 2px;
    background: var(--text-color);
}

.desc {
    margin-top: 20px;
    color: var(--text-color);
    font-size: 1.125rem;
    line-height: 1.875rem;
}

.heading {
    margin-top: 12px;
    color: var(--primary-color);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.125rem;
}

/* ==========================================Header================================================ */
.header {
    background: #fff;
    padding: 42px 0 8px;
}

.header--sticky {
    position: sticky;
    top: -34px;
    z-index: 1;
}

.header__inner {
    display: flex;
    align-items: center;
}

.navbar {
    margin-left: 47px;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__item {
    position: relative;
    padding: 6px 24px;
    color: var(--text-color);
    line-height: 1.75rem;
    text-align: center;
    display: inline-block;
}

.navbar__item--active,
.navbar__item:hover,
.header__action-SI {
    color: var(--primary-color);
    font-weight: 600;
}

.navbar__item::before {
    content: attr(title);
    display: block;
    font-weight: 600;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.navbar__item--active::after {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    display: inline-block;
    content: "";
    width: 47px;
    height: 1px;
    border-radius: 0.5px;
    background: #7264d6;
}

.header__action {
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: 28px;
}

.header__action-SU {
    --height: 52px;

    min-width: 113px;
}

/* ==========================================Hero================================================ */
.hero {
    padding: 80px 0;
    display: flex;
    align-items: center;
    height: calc(100vh - 182px);
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__content {
    width: 46.2%;
}

.hero__media {
    width: 48.7%;
}

.heading-hero {
    font-size: 3.75rem;
    line-height: 4.375rem;
}

.heading-hero strong {
    color: var(--secondary-color);
}

.hero__form {
    margin-top: 40px;
    position: relative;
    display: flex;
    align-items: center;
}

.hero__form-input {
    padding: 23px;
    width: 540px;
    height: 74px;
    border: none;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero__form-input:placeholder-shown {
    color: var(--text-color);
    background: #fff;
    line-height: 1.75rem;
}

.hero__form-btn {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    background: var(--secondary-color);
}

.hero__form-btn:hover {
    background: var(--primary-color);
}

.desc-form {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.hero__media {
    position: relative;
}

.hero__media__mobile {
    margin-left: 100px;
}

.hero__media__deposite {
    position: absolute;
    top: 113px;
    left: 0;
    padding: 14px 10px;
    display: flex;
    align-items: center;
    width: 174px;
    height: 46px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.deposite-title {
    color: #31456a;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 0.875rem;
    margin-left: 8px;
}

.deposite-price {
    margin-left: auto;
    color: #4ab5e3;
    font-size: 0.875rem;
    line-height: 0.875rem;
}

.hero__media__secured-funds {
    position: absolute;
    bottom: 61px;
    right: 100px;
    display: flex;
    align-items: center;
    column-gap: 11px;
    width: 124px;
    height: 68px;
    padding: 20px 14px;
    border-radius: 10px;
    background: #439f90;
}

.secured-funds-price {
    color: #fff;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 0.875rem;
}

.secured-funds-title {
    margin-top: 5px;
    color: #fff;
    font-size: 0.5rem;
    line-height: 0.5rem;
}

.hero__media__interest {
    position: absolute;
    top: 127px;
    right: 0;
    width: 130px;
    height: 130px;
    background: #da6464;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.interest-percent {
    display: block;
    color: #fff;
    font-size: 2.75rem;
    font-weight: 600;
}

.interest-title {
    margin-top: 5px;
    display: block;
    color: #fff;
}

/* ==========================================Promotion================================================ */
.promotion {
    padding: 80px 0;
}
.promotion__inner {
    display: flex;
    align-items: center;
    column-gap: 230px;
    justify-content: space-between;
}

.promotion__media {
    position: relative;
}

.promotion__media-img-wrap {
    position: relative;
    width: 470px;
    height: 619px;
}

.promotion__media-img {
    position: relative;
    width: 456px;
    display: block;
    margin: 0 auto;
}

.promotion__media-bg-img {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.promotion__media-decor {
    position: absolute;
    top: 76px;
    right: 62px;
    color: var(--secondary-color);
}

.promotion__media-info {
    padding: 15px;
    position: absolute;
    right: -100px;
    bottom: 96px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 226px;
    height: 70px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.promotion__media-info-icon {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background: #4ab5e3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: #fff;
}

.promotion__media-info-title {
    color: var(--primary-color);
    font-family: Inter, sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
}

.promotion__media-info-desc {
    margin-top: 5px;
    color: var(--text-color);
    font-family: Inter, sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
}

.promotion__step-list {
    margin-top: 70px;
}

.promotion__step-item + .promotion__step-item {
    margin-top: 30px;
}

.promotion__step-item-title {
    color: var(--primary-color);
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 2rem;
}

.desc-step-item {
    margin-top: 16px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem; /* 175% */
}

/* ==========================================Features================================================ */
.feature {
    padding: 80px 0;
}

.feature__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 30px;
    row-gap: 160px;
}

.feature__content {
    width: 470px;
}

.feature__list {
    margin-top: 28px;
}

.feature__item {
    color: var(--primary-color);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.875rem;
}

.feature__item::before {
    margin-right: 12px;
    display: inline-block;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--secondary-color);
}

.feature__item + .feature__item {
    margin-top: 18px;
}

.feature-btn {
    margin-top: 38px;
}

.feature__media {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.feature-row {
    display: flex;
}

.feature__card-wrap {
    position: relative;
    padding: 38px;
    width: 482px;
    height: 322px;
    border-radius: 20px;
    background: linear-gradient(76deg, #8679e4 11.52%, #7264d6 70.78%);
    overflow: hidden;
}

.feature__card-decor {
    position: absolute;
    top: 0;
    left: 0;
}

.feature__card {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
}

.feature__card__balance,
.feature__card__expired,
.feature__card__holder {
    display: flex;
    flex-direction: column;
}

.card__balance-title {
    font-size: 1.5rem;
}

.card__balance-number {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 700;
}

.feature__card__logo {
    margin-left: auto;
}

.card__expired-title {
    font-size: 1.25rem;
}

.card__expired-date {
    margin-top: 4px;
    font-size: 1.375rem;
    font-weight: 600;
}

.feature__card__holder {
    margin-left: 26px;
}

.card__holder-name {
    font-size: 1.375rem;
    font-weight: 600;
}

.card__holder-title {
    margin-top: 4px;
    font-size: 1.25rem;
}

.feature__send-money {
    padding: 23px 13px;
    position: absolute;
    top: 38px;
    right: 0;
    width: 276px;
    height: 86px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    column-gap: 13px;
}

.icon-send-money-thumb {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: rgba(218, 100, 100, 0.1);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature__send-money-info {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    row-gap: 3px;
}

.send-money-info-title,
.send-money-info-price {
    color: var(--primary-color);
    font-family: Inter;
    font-size: 0.75rem;
    font-weight: 500;
}

.send-money-info-price {
    font-size: 1rem;
    font-weight: 400;
    text-align: right;
}

.send-money-info-desc,
.send-money-info-date {
    color: var(--text-color);
    font-family: Inter;
    font-size: 0.625rem;
    font-weight: 400;
}

.send-money-info-date {
    text-align: right;
}

.feature__income {
    padding: 15px;
    position: absolute;
    right: 0;
    bottom: 37px;
    width: 120px;
    height: 120px;
    border-radius: 16px;
    background: #439f90;
}

.icon-income-thumb {
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature__income-info {
    padding-top: 14px;
    color: #fff;
}

.income-info-title {
    font-size: 0.75rem;
}

.income-info-price {
    padding-top: 6px;
    font-size: 1.125rem;
    font-weight: 600;
}

.feature__media-img-thumb {
    width: 470px;
    background: url(../img/bg-feature.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 100%;
}

.feature__media-img {
    width: 413px;
    margin-left: 30px;
    object-fit: cover;
}

.payment-method {
    position: absolute;
    right: 26px;
    bottom: 57px;
    background: #fff;
    border-radius: 8px;
    padding: 28px;
    width: 281px;
    height: 220px;
}

.payment-method__title {
    color: #212832;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.875rem;
}

.payment-method__list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.payment-method__item {
    height: 48px;
    background: #f2f2fa;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-method__item:last-child {
    background: #f9ea63;
}

.feature__content:nth-of-type(2) {
    margin-left: 100px;
}

.payment-method-decor {
    position: absolute;
    top: -35px;
    right: -26px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #7264d6;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ==========================================Review================================================ */
.review {
    padding: 80px 0;
}

.review-top {
    text-align: center;
}

.review-desc {
    margin: 18px auto 0;
    font-size: 1rem;
    line-height: 1.75rem;
    width: 435px;
}

.review__list {
    margin-top: 70px;
    display: flex;
    column-gap: 30px;
}
.review__item {
    width: 570px;
    flex-shrink: 0;
}

.review__item-content {
    position: relative;
}

.review__item-quote {
    position: relative;
    padding: 42px 28px;
    color: var(--text-color);
    text-align: center;
    font-size: 1.375rem;
    font-style: italic;
    line-height: 2.125rem;
    background: #fff;
    -webkit-filter: drop-shadow(0 0 1px #c8cace);
    filter: drop-shadow(0 0 1px #c8cace);
    border-radius: 8px;
    cursor: pointer;
}

.review__item-quote::after {
    position: absolute;
    left: 50%;
    bottom: -86px;
    content: "";
    border: 40px solid;
    border-radius: 4px;
    transform: rotate(51deg) skew(15deg) translateX(-84%);
    border-color: transparent #fff #fff transparent;
}
.review__item-quote:hover {
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
    z-index: 1;
}

.review__item-info {
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.review__item-info-img {
    width: 104px;
    height: 104px;
    border-radius: 50%;
}

.review__item-info-name {
    margin-top: 20px;
    color: #070052;
    font-size: 1.625rem;
    font-weight: 600;
    line-height: 2.25rem;
}

.review__item-info-desc {
    margin-top: 2px;
    color: var(--text-color);
    font-size: 1.125rem;
    line-height: 1.875rem;
}

.review_dots {
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
}

.review_dot {
    width: 22px;
    height: 6px;
    border-radius: 1px;
    border: 1px solid #9b9fab;
    cursor: pointer;
}

.review_dot.review_dot--active {
    border-radius: 1px;
    border-color: #7264d6;
    background: #7264d6;
}

/* ==========================================Blog================================================ */
.blog {
    padding: 80px 0;
}

.blog-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading-blog {
    margin-top: 6px;
}

.blog-desc {
    margin-top: 18px;
    width: 435px;
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.75rem;
}

.blog__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.blog__item {
    padding: 28px;
    display: flex;
    column-gap: 22px;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #dfe2e8;
    background: #fff;
    cursor: pointer;
    transition: box-shadow 0.25s;
}

.blog__item:hover {
    border-color: transparent;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
}

.blog__item-img {
    width: 160px;
    height: 160px;
    border-radius: 12px;
    flex-shrink: 0;
    object-fit: cover;
}

.blog__item-date {
    color: var(--text-color);
    font-size: 0.875rem;
    line-height: 1.5rem;
}

.blog__item-title {
    margin-top: 10px;
    color: var(--primary-color);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.875rem;
}

.blog__item-more {
    display: inline-block;
    padding: 20px 20px 20px 0;
    color: var(--text-color);
    line-height: 1.625rem;
}

.blog__item-more:hover {
    color: #7264d6;
}

/* ==========================================Download================================================ */
.download {
    padding: 80px 0 100px;
}

.download__inner {
    position: relative;
    padding: 100px 0;
    border-radius: 24px;
    background: #7264d6;
}

.download__top {
    text-align: center;
}

.download-sub-title,
.download-heading,
.download-desc {
    color: #fff;
}

.download-sub-title::before {
    background: #fff;
}

.download-desc {
    width: 435px;
    margin: 18px auto 0;
    font-size: 1rem;
    line-height: 1.75rem;
}

.download__list {
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
}

.download__item {
    width: 182px;
    height: 64px;
    color: #7264d6;
    background: #fff;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}

.download__item-icon {
    height: 28px;
}

.download__item-info {
    font-family: "Open Sans", sans-serif;
    text-align: left;
}

.download__item-decs {
    font-size: 0.7rem;
}

.download__item-name {
    margin-top: -6px;
    font-size: 1.2rem;
    font-weight: 600;
}

.download-decor-img {
    position: absolute;
}

.download-decor-img:nth-child(1) {
    top: 49px;
    left: 112px;
}

.download-decor-img:nth-child(2) {
    top: 49px;
    right: 112px;
}

.download-decor-img:nth-child(3) {
    bottom: 49px;
    left: 166px;
}

.download-decor-img:nth-child(4) {
    bottom: 49px;
    right: 166px;
}

/* ==========================================Footer================================================ */
.footer {
    padding-top: 100px;
}

.footer-row {
    display: flex;

    column-gap: 163px;
}

.footer-heading,
.footer-link,
.footer-desc {
    color: var(--primary-color);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.875rem;
}

.footer-link-list {
    margin-top: 24px;
}

.footer-link,
.footer-desc {
    color: var(--text-color);
    font-weight: 400;
    opacity: 0.75;
}

.footer-link + .footer-link {
    margin-top: 10px;
}

.footer-desc {
    margin-top: 24px;
}

.footer-heading:nth-of-type(2) {
    margin-top: 48px;
}

.footer-contact {
    margin-top: 30px;
    display: flex;
    column-gap: 100px;
}

.footer__form {
    margin-top: 24px;
    display: flex;
    column-gap: 20px;
}

.footer__form-input {
    padding: 12px;
    width: 270px;
    height: 52px;
    line-height: 1.75rem;
    border-radius: 6px;
    border: 1px solid #8e919a;
}

.footer__form-btn {
    --height: 52px;

    min-width: 113px;
    background: var(--secondary-color);
}

.footer__form-btn:hover {
    background: var(--primary-color);
}

.footer-copyright {
    margin-top: 28px;
    padding: 28px 0;
    color: #fff;
    text-align: center;
    line-height: 1.75rem;
    background: var(--secondary-color);
}
