* {
    box-sizing: border-box;
}

:root {
    --primary-color: #212832;
    --secondary-color: #7264d6;
    --text-color: #696d76;
}

body {
    /* font-family: "Inter", sans-serif; */
    font-family: "Open Sans", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}
/* Custom  scrollbar*/
::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.2);
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
/* Loại bỏ giao diện khi sử dụng tính năng "tự động điền" của trình duyệt */
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:hover {
    transition: background-color 1s 9999s;
    -webkit-text-fill-color: var(--primary-color);
    caret-color: var(--primary-color);
}

/* ==========================================Common================================================ */
a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    background: transparent;
}

a,
button,
input,
textarea,
select {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    -webkit-tap-highlight-color: transparent;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 58px;

    display: inline-flex;
    min-width: 149px;
    height: var(--height);
    line-height: var(--height);
    color: #fff;
    font-weight: 600;
    line-height: 1.75rem;
    border-radius: 6px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.25s;
}

.btn:hover {
    background: var(--secondary-color);
}

.sub-title {
    position: relative;
    padding-left: 30px;
    color: var(--text-color);
    line-height: 1.75rem;
}

.sub-title::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    width: 18px;
    height: 2px;
    background: var(--text-color);
}

.desc {
    margin-top: 20px;
    color: var(--text-color);
    line-height: 175%;
    font-size: 1.125rem;
    line-height: 1.875rem;
}

.heading {
    margin-top: 12px;
    color: var(--primary-color);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.125rem;
}

/* ==========================================Header================================================ */
.header {
    background: #fff;
    padding: 42px 0 8px;
}

.header--sticky {
    position: sticky;
    top: -34px;
    z-index: 1;
}

.header__inner {
    display: flex;
    align-items: center;
}

.navbar {
    margin-left: 47px;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__item {
    position: relative;
    padding: 6px 24px;
    color: var(--text-color);
    line-height: 1.75rem;
}

.navbar__item--active,
.navbar__item:hover,
.header__action-SI {
    color: var(--primary-color);
    font-weight: 600;
}

.navbar__item--active::before {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    display: inline-block;
    content: "";
    width: 47px;
    height: 1px;
    border-radius: 0.5px;
    background: #7264d6;
}

.header__action {
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: 28px;
}

.header__action-SU {
    --height: 52px;

    min-width: 113px;
}

/* ==========================================Hero================================================ */
.hero {
    display: flex;
    align-items: center;
    height: calc(100vh - 102px);
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__content {
    width: 46.2%;
}

.hero__media {
    width: 48.7%;
}

.heading-hero {
    font-size: 3.75rem;
    line-height: 4.375rem;
}

.heading-hero strong {
    color: var(--secondary-color);
}

.hero__form {
    margin-top: 40px;
    position: relative;
    display: flex;
    align-items: center;
}

.hero__form-input {
    padding: 23px;
    width: 540px;
    height: 74px;
    border: none;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero__form-input:placeholder-shown {
    color: var(--text-color);
    background: #fff;
    line-height: 1.75rem;
}

.hero__form-btn {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    background: var(--secondary-color);
}

.hero__form-btn:hover {
    background: var(--primary-color);
}

.desc-form {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.hero__media {
    position: relative;
}

.hero__media__mobile {
    margin-left: 100px;
}

.hero__media__deposite {
    position: absolute;
    top: 113px;
    left: 0;
    padding: 14px 10px;
    display: flex;
    align-items: center;
    width: 174px;
    height: 46px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.deposite-title {
    color: #31456a;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 0.875rem;
    margin-left: 8px;
}

.deposite-price {
    margin-left: auto;
    color: #4ab5e3;
    font-size: 0.875rem;
    line-height: 0.875rem;
}

.hero__media__secured-funds {
    position: absolute;
    bottom: 61px;
    right: 100px;
    display: flex;
    align-items: center;
    column-gap: 11px;
    width: 124px;
    height: 68px;
    padding: 20px 14px;
    border-radius: 10px;
    background: #439f90;
}

.secured-funds-price {
    color: #fff;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 0.875rem;
}

.secured-funds-title {
    margin-top: 5px;
    color: #fff;
    font-size: 0.5rem;
    line-height: 0.5rem;
}

.hero__media__interest {
    position: absolute;
    top: 127px;
    right: 0;
    width: 130px;
    height: 130px;
    background: #da6464;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.interest-percent {
    display: block;
    color: #fff;
    font-size: 2.75rem;
    font-weight: 600;
}

.interest-title {
    margin-top: 5px;
    display: block;
    color: #fff;
}
